<mat-toolbar>
  <span>IA - 2023</span>
  <span class="spacer"></span>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
<mat-drawer-container class="container" autosize>

  <header class="header">
    <h1>Tensorflow.js Real Time Object Detection</h1>
  </header>

  <div class="content">
    <div class="videos">
      <video #video autoplay class="video" [srcObject]="webCam"></video>
      <div class="result">
        <video autoplay class="video" [srcObject]="webCam"></video>
        <canvas #canvas class="video canvas"></canvas>
      </div>
    </div>

    <div class="controls">
      <button mat-icon-button (click)="start()" matTooltip="Start Camera">
        <mat-icon>play_arrow</mat-icon>
      </button>
      <button mat-icon-button (click)="stop()" matTooltip="Stop Camera">
        <mat-icon>pause</mat-icon>
      </button>
      <button mat-icon-button (click)="predictWithCocoModel()" matTooltip="Stop Detection" [disabled]="!webCam">
        <mat-icon>check</mat-icon>
      </button>
      <button mat-icon-button (click)="stopPrediction()" matTooltip="Stop Detection" [disabled]="!webCam">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>

  <footer>

  </footer>
</mat-drawer-container>